<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Products</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <h1> Restraurant Management System</h1>
    <h2>Menu</h2>
    <ul id="product-list"></ul>
    
    <h2>Place order</h2>
    <ul id="order-list"></ul>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/script.js"></script>

</body>

</html>